 *{
    margin: 0px;
    padding: 0px;
      
 }
 body{
    background-color: rgba(46, 143, 240, 0.93);
 }
 .container{
    width: 40%;
    min-width: 450px;
    border: #080808;
    
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 40px 30px;
    
 }
 .inputs-wrapper{
    background-color: #080808;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.3);
    margin-bottom: 50px;
   
 }
 input, button{
    height: 50px;
    background-color: #ffffff;
    color: #080808;
    font-weight: 500;
    border-radius: 5px;
}
input{
    width: 65%;
    padding: 0 20px;
    font-size: 14px;
}
button{
    width: 20%;
    float: right;
}
.outputs-wrapper{
   width: 100%;
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding: 20 0;
}
.outputs-wrapper div{
   background-color: rgb(19, 20, 20);
   color: #ffffff;
   width: 50px;
   padding: 20px;
   border-radius: 5px;
}
span{
    font-size: 30px;
    font-weight: 500;
}
p{
    font-size: 14px;
    color: #f6f3f3;
    font-weight: 800;
}